.Home {
  background-color: rgb(243, 243, 243);
  /* background-color: rgb(34, 143, 19); */
  padding: 12px 20px;
  border: 1px solid #f1f1f1;
  box-sizing: content-box;
  display: flex;
  align-items: center;

  height: 100vh;
  justify-content: center;
}

.Contact-form {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 50%;
}

.form {
  padding: 3rem 20px;
  margin: 2rem;
  border: 1px solid rgb(175, 173, 173);
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  width: 45%;
}
.form input {
  margin: 0.4rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: none;
  color: grey;
}
.image-form {
  /* border: 1px solid black; */
  width: 20%;
  height: 20%;
  align-self: flex-start;
  padding-top: 10%;
  margin: 0 auto;
  padding-left: 5%;
}
.image-form img {
  width: 80%;
  /* border: 1px solid black; */
  border-radius: 50%;
  padding: 0.6rem;
  background-color: #fff;
}
.btn {
  background-color: #64a584;
  color: white;
  padding: 10px 10px;
  margin: 0 0.4rem;
  margin-top: 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  /* width: 100%; */
}
.btn:hover {
  transform: scale(1.01);
  background-color: #64a584ec;
}
